/build
*.db
*.swp
*.swl
*.swm
*.swn
*.swo
__pycache__/lab_app.cpython-36.pyc
etc/
lib/python3.6/site-packages/__pycache__/retrying.cpython-36.pyc
lib/python3.6/site-packages/__pycache__/six.cpython-36.pyc
lib/python3.6/site-packages/_plotly_future_/
lib/python3.6/site-packages/_plotly_utils/
lib/python3.6/site-packages/plotly-4.14.3.dist-info/
lib/python3.6/site-packages/plotly/
lib/python3.6/site-packages/plotlywidget/
lib/python3.6/site-packages/retrying-1.3.3.dist-info/
lib/python3.6/site-packages/retrying.py
share/
