<html>
  <meta charset="utf-8">
  <title>Lab Conditions by RPi</title>
  <meta name="description" content="Lab conditions - RPi">
  <meta name="author" content="Yash Kathe">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="icon" type="image/png" href="/static/images/favicon.png">
</head>
  <body>
    <div class="container">
      <div class="row">
        <div class="two-third column" style="margin-top: 5%">
           <h1>Sem 3 group project </h1>
	   <h1>Home security system </h1>	
	   <h1>-------------------------------------------------------------</h1>
           <h2>group members : </h2>
	   <h4> 1. Aditya Dharne <br> 2.Chirag Kunder <br> 3.Kaushik Khadilkar <br> 4.Yash Kathe </h4> <br>
	   <br>
	   <br>
	   <h1>-------------------------------------------------------------</h1>
	   <h1>Routing instructions: </h1>
	   <h4>To see the current temperature: <br><a href="/lab_temp">current-temperature </a> </h4>
	   <br>
	   <h4>To see current status of sensors: <br><a href="/other_sensors">other-sensors</a></h4>
	   <h2>
        </div>   
      </div>
    </div>           
  </body>  
</html>
