<html>
  <meta charset="utf-8">
  <title>Lab Conditions by RPi</title>
  <meta http-equiv="refresh" content="5">
  <meta name="description" content="Lab conditions - RPi">
  <meta name="author" content="Yash Kathe">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="icon" type="image/png" href="/static/images/favicon.png">
</head>
  <body>
    <div class="container">
      <div class="row">
        <div class="two-third column" style="margin-top: 5%">
	    <h2>Real time conditions</h2>
            <h1>Detection by ir : {{message}}</h1>
	    <h1>Gas leak detected ? : {{message2}}</h1>
	    <br>
	    <br>
	    <br>
	    <br>
	    <p>-------------------------------------------------------</p>
            <p>This page refreshes every 5 seconds</p>   
        </div>   
      </div>
    </div>           
  </body>  
</html>
